<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>FAQ信息</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <!--  IE10 viewport hack for Surface/desktop Windows 8 bug-->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/static/js/ie/html5shiv.js"></script>
    <script src="/static/js/ie/respond.js"></script>
    <![endif]-->
    <style type="text/css">
        .tab-close {
            margin-left: 8px;
        }
    </style>
</head>

<body>
    <div class="container text-center">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">FAQ信息</h4>
            </div>
            <div class="panel-body">
                <form id="updateform" class="form-horizontal">
                    <input type="hidden" id="id" name="id" value="{{.faq.Id}}" />
                    <div class="form-group">
                        <label for="title" class="col-sm-2 col-xs-2 control-label text-right">
                            <font color="red">*</font>标题:</label>
                        <div class="col-sm-8 col-xs-8">
                            <input type="text" class="form-control" id="title" name="title" value="{{.faq.Title}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="content" class="col-sm-2 col-xs-2 control-label text-right">
                            <font color="red">*</font>内容:
                        </label>
                        <div class="col-sm-10 col-xs-10">
                            <textarea style="resize:none;height:120px;" class="form-control" id="content" name="content">{{.faq.Content}}</textarea>
                        </div>
                    </div>

                    <div class="text-right">
                        <button id="submitBtn" type="button" style="display:none;">确定</button>
                    </div>
                </form>

            </div>

        </div>

        <!-- 上传文件 -->
        <div id="container" style="display: none;">
            
        </div>

    </div>

    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <script src="/static/js/bootstrapValidator.min.js"></script>
    
    <script type="text/javascript" src="/static/js/plupload/moxie.js"></script>
    <script type="text/javascript" src="/static/js/plupload/plupload.dev.js"></script>
    <script type="text/javascript" src="/static/js/plupload/i18n/zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/static/js/ckeditor/insertCustomImage.js"></script>
    <script type="text/javascript" src="/static/js/scripts/upload.js?v=1.2"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>

    <script type="text/javascript">
        $(function() {
            initValidate();
            
            setFileContainerEvent();

            createCkeditor('content');

            setSubmitBtnEvent();
        });

        function initValidate() {
            $("#updateform").bootstrapValidator({
                message: '输入值不合法',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    title: {
                        validators: {
                            notEmpty: {
                                message: '标题不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 100,
                                message: '请输入2到40个字符'
                            }
                        }
                    }
                }
            });
        }

        function setFileContainerEvent() {
            $('#container').on(
                'dragenter',
                function (e) {
                    e.preventDefault();
                    $('#container').addClass('draging');
                    e.stopPropagation();
                }
            ).on('drop', function (e) {
                e.preventDefault();
                $('#container').removeClass('draging');
                e.stopPropagation();
            }).on('dragleave', function (e) {
                e.preventDefault();
                $('#container').removeClass('draging');
                e.stopPropagation();
            }).on('dragover', function (e) {
                e.preventDefault();
                $('#container').addClass('draging');
                e.stopPropagation();
            });
        }
         //通过id创建ckeditor
        function createCkeditor(textareaId) {
            var editor = null;
            if (CKEDITOR.instances[textareaId]) {
                editor = CKEDITOR.instances[textareaId];
                //销毁编辑器实例  
                CKEDITOR.remove(editor);
                //移除编辑器Jquery对象  
                $('#cke_' + textareaId).remove();
            }

            if (CKEDITOR.instances[textareaId] == undefined) {
                editor = CKEDITOR.replace(textareaId, {
                    toolbar: [
                        ['Cut', 'Copy', 'Paste'],
                        ['Undo', 'Redo', '-', 'RemoveFormat'],
                        ['Bold', 'Italic', 'Underline', 'Strike'],
                        ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                        ['Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak'],
                        ['FontSize', 'TextColor', 'BGColor'],
                        ['insertCustomImage'],
                        ['Maximize', 'Source']
                    ], height: '400px'
                    , allowedContent: true
                    , autoUpdateElement: true
                });

                //if ('{{.op}}' == 'view') {
                //    $("#goodsDesc").attr("disabled", "disabled");
                //}
            }

            //把富文本数据同步回textarea
            /*
            for (var instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            CKEDITOR.config.readOnly = true;
            */
            CKEDITOR.on('instanceReady', function (e) {
                if ('{{.op}}' != 'view') {
                    initCKEditorUpload(editor);
                } else {
                    CKEDITOR.config.readOnly = true;
                }
            });
        }
        
        function setSubmitBtnEvent() {
            $("#submitBtn").click(function () {
                var bv = $("#updateform").data('bootstrapValidator');
                bv.validate();
                if (!bv.isValid()) {
                    return;
                }
                $("#content").val(CKEDITOR.instances.content.getData());
                //CKEDITOR.replace('content');

                var title = $("#title").val();
                var content = $("#content").val();

                if (title == "") {
                    showTips("标题不能为空！", "title");
                    return;
                }

                if (content == "") {
                    layer.msg("内容不能为空！");
                    return;
                }
                var data = {
                    id:$("#id").val(),
                    title: title,
                    content: content
                };
                var url = '/FAQ/SaveFAQ';
                //发送ajax请求
                $.ajax({
                    url: url,
                    async: false,//同步，会阻塞操作
                    type: 'POST',//PUT DELETE POST
                    data: data,
                    success: function (result) {
                        if (result.Status == 0) {
                            var index = parent.layer.getFrameIndex(window.name);

                            var iframe = $(window.parent.document).find("iframe[name='iframe6']")[0];
                            iframe.contentWindow.doSearch();
                            //1：勾号 2：X号 3：？号  4：锁  5：哭脸 6：笑脸 7：！号
                            top.layer.msg('保存成功。', { icon: 6, shade: [0.6, '#393D49'], scrollbar: false, time: 1000 });
                            parent.layer.close(index);
                        } else {
                            top.layer.alert(result.Msg);
                        }
                    }, error: function () {
                        top.layer.alert("网络异常，保存失败!");
                    }
                })
            });
        }
    </script>
</body>
</html>